/* === BASE STYLES === */
body,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #131313;
  color: white;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 0.5s;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

/* === HEADER STYLES === */
header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* === TECH STACK SECTION === */
.category {
  text-align: center; /* Centers the category title */
}

.category h3 {
  font-size: 1.5em;
  color: #bfa76a; /* Or any other color you prefer */
  margin-bottom: 15px; /* Adjust as needed */
}

.tech-icons {
  display: flex;
  justify-content: center; /* Centers tech items */
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px; /* Adds some space between categories */
}

.tech-item {
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  position: relative;
}

.tech-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.iconify {
  font-size: 2em;
  color: white;
}

.tech-item .tech-name {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 0.8em;
}

.tech-item:hover .tech-name {
  opacity: 1;
  transform: translateY(0);
}

/* === NAME HOVER EFFECT === */
.name-hover {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.name-hover::after {
  content: "Veyg";
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
  color: white;
  transition: opacity 0.3s ease;
}

.name-hover:hover::after {
  opacity: 1;
}

.name-hover:hover {
  color: transparent;
}

/* === ABOUT SECTION === */
#about {
  padding: 60px 0;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 1.2em;
  line-height: 1.8;
  max-width: 600px;
  text-align: center;
}

.highlight {
  color: #bfa76a;
  position: relative;
  font-weight: 600;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #bfa76a;
  opacity: 0.6;
  border-radius: 2px;
}

/* === PROJECTS SECTION === */
#projects {
  padding: 50px 0;
}
.project-icon {
  font-size: 1.5em; /* Adjust this value to your preference */
  margin-right: 5px; /* Add some spacing between icons */
  margin-top: 15px; /* Adjust this value based on your preference */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.33% - 30px); /* 33.33% for 3 in a row, minus gap */
  box-sizing: border-box; /* To include padding in width */
  transition: transform 0.3s;
  margin: 20px 0;
  max-width: 300px; /* Maximum width of the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .project-card {
    width: calc(50% - 30px); /* 2 in a row for medium screens */
  }
}

@media (max-width: 650px) {
  .project-card {
    width: 100%; /* 1 in a row for small screens */
  }
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-card h3 {
  margin-bottom: 10px;
}

.tech-used {
  margin-top: 10px;
  font-size: 0.9em;
  color: #bfa76a;
}

.read-more-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: transparent; /* Transparent background */
  border: 2px solid #bfa76a; /* Accent color border */
  color: #bfa76a; /* Accent color text */
  border-radius: 25px; /* Rounded edges */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Added transform transition */
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px; /* Slight letter spacing */
  position: relative; /* Set to relative for pseudo-element positioning */
  overflow: hidden; /* Hide overflow for the hover effect */
  margin-right: 10px;
}

.read-more-btn:hover {
  background-color: #bfa76a; /* Accent color background on hover */
  color: #131313 !important; /* Dark text on hover */
  transform: scale(1.05); /* Slight scale on hover for a "pop" effect */
}

/* Add a subtle hover effect */
.read-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); /* Slight white overlay */
  transition: all 0.3s;
}

.read-more-btn:hover::before {
  left: 100%;
}
/* ===404==== */
body.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131313;
  margin: 0;
  padding: 0;
}

.error-content {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.error-content h1,
.error-content p,
.error-content a {
  margin: 10px 0; /* Adjust the margins for these elements */
}

.error-number {
  font-size: 6em;
  font-weight: bold;
}

.error-text {
  font-size: 1.5em;
}

.error-image {
  margin-bottom: 30px;
}
#tsparticles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Ensure particles are behind your content */
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically, if needed */
  gap: 15px;
}
.footer-content iframe {
  margin: 0 auto; /* Horizontally centers the iframe */
  display: block; /* Makes the iframe a block element so margin auto works */
}

iframe {
  margin-left: 10px; /* or any other value that looks good */
}
.back-to-home {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #bfa76a;
  color: #131313;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.back-to-home:hover {
  background-color: #d4c29d;
  color: #131313;
}
/* === PROJECT WEB === */
.btn-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
